body {
    margin: 0;
    width: 100%;
}

.content {
    margin-left: 20%;
    margin-right: 20%;
    
}

h1 {
    margin-bottom: 30px
}

.card {
    margin-top: 50px;
    max-width: 300px;
    width: 300px;

}

.container {
    display: flex;
    justify-content: space-between;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}